body{
    font-family: 'Archivo', sans-serif;
    color: white;
    /* Location of the image */
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,.1)), url("roman-kraft-_Zua2hyvTBk-unsplash.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    transition: 1s opacity;
}

.new-article-btn {
    margin-top: 10px;
  }
  
  .fa-github {
    font-size: 40px;
  }
  
  .git-icon {
    text-decoration: none;
    color: #000;
    -webkit-transition: 0.5s ease-out;
    -moz-transition:  0.5s ease-out;
    transition:  0.5s ease-out;
  }

  .git-icon:hover {
    text-decoration: none;
    color: rgb(201, 38, 38);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
  
  .title-link {
    text-decoration: none;
    color: #000;
  }
  
  .title-link:hover {
    text-decoration: none;
    color: rgb(201, 38, 38);
  }
  
  textarea {
    display: block;
    height: 200px;
    font-size: 16px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    color: black
  }

  #bodyinput{
      color: black
  }

  .card-text{
      color: rgb(151, 146, 138)
  }
  
  #note {
    text-transform: uppercase;
    font-size: 13px;
    color: #616161;
    letter-spacing: 1px;
  }

  #bfnlogo {
    height: 100px;
  }